* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(193, 26%, 72%);
}
.resume {
  color: hsl(227, 86%, 55%);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.navbar,
.resume-link {
  display: flex;
  justify-content: space-between;
  background-color: rgb(112, 112, 112);
}

.nav-items {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 18px;
  color: white;
  padding: 15px;
  text-decoration: none;
}
.nav-items a:hover {
  background-color: rgb(203, 203, 211);
}

.resume-link a:hover {
  background-color: rgb(203, 203, 211);
}

.intro {
  text-align: center;
  padding: 15px;
  margin: 6rem;
  border-radius: 50px;
}
h3,
h4,
p,
h1,
li,
label {
  color: white;
}

.intro p {
  margin: 2rem;
}
.main-container {
  padding: 15px;
}

.main-container h1 {
  text-align: center;
}
.main-container p {
  padding-bottom: 15px;
}

form {
  text-align: center;
  margin: 15px;
}

footer {
  text-align: center;
  color: white;
}
